/*
 * A CSS file for laying out our web app
 */

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}


.page {
}

h1 {
  margin: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid #222;
  text-align: center;
  padding: .5em;
}
